<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium,
    fugit cumque neque id ipsum nulla asperiores adipisci molestias, qui ad
    excepturi quidem aperiam dolor voluptas alias provident? Autem, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eos tenetur,
    dolorum impedit minus aperiam illum a modi vel pariatur recusandae
    architecto molestiae perferendis eaque autem exercitationem hic harum quod.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure
    exercitationem voluptates vel adipisci quibusdam cumque dolore accusantium
    rem id, neque, explicabo iusto repellat nemo hic, cupiditate maxime quia?
    Officia?
  </p>
</main>
